.left{
    background-color: black;
    height: 46px;
}
.left h3{
    margin-top: 10px;
    color: white;
}
.form-inline{
    margin-top: 5px;
}
.nav-link{
    color: white;
}
.two{

    height: 200px;
    margin-top: 7px;
    width: 150ex;
}
.list-group{
    background-color: black;
}
#product, #product-1{
  padding: 30px;
  text-align: center;
}
#product-1 {
  padding: 50px;
  display: none;
}
.col-lg-9{
    margin-left: 320px;
}